*{
    margin: 0;
    padding: 0;
}
header{
    background-color: darkolivegreen;
    text-align: center;
    overflow: hidden;
}
.logo{
    width: 30%;
    background-color: darkorange;
    float: left;
}
.banner{
    width: 70%;
    background-color: darkred;
    float: right;
}
article{
    background-color: darkslateblue;
    height: 500px;
    overflow: hidden;
}
.left{
    width: 20%;
    background-color: dimgray;
    height: 500px;
    float: left;
}
.mid{
    width: 60%;
    background-color: rgb(155, 218, 155);
    height: 500px;
    float: left;
}
.right{
    width: 20%;
    background-color: gray;
    height: 500px;
    float: right;
}
.top{
    height: 150px;
    background-color: indianred;
}
.center{
    height: 200px;
    background-color: indigo;
    overflow: hidden;
}
.bottom{
    height: 150px;
    background-color: khaki;
}
.center_right{
    height: 100%;
    width:  50%;
    background-color: lightcoral;
    float: right;
}
.center_left{
    height: 100%;
    width:  50%;
    background-color: lightsalmon;
    float: left;
}
footer{
    text-align: center;
    background-color: maroon;
    height: 50px;
}